{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'home/img/khaan-daan.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- MAIN STYLE -->
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/style-responsives.css' %}">
	<!-- RESPONSIVES STYLE -->
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Hind:600|Lato:300,400" rel="stylesheet">
	<style>#footer {
			padding: 20px 0 27px;
			background: #fff;
		}
		
		#footer-post {
			background: #f3f3f3;
			padding: 30px 0;
			margin-top: 100px;
		}
		
		#footer p {
			color: #131313;
		}
		
		.social-icons-footer {
			margin: 0 auto;
			padding: 0;
		}
		
		.social-icons-footer li {
			display: -moz-inline-stack;
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		.social-icons-footer li a {
			color: #131313;
			background: rgba(42, 41, 41, 0);
			font-size: 1.3em;
			display: -moz-inline-stack;
			display: inline-block;
			padding: 10px 10px 8px 10px;
			width: 50px;
			height: 40px;
			box-sizing: border-box;
			-webkit-transition: all ease-in-out 0.3s;
			transition: all ease-in-out 0.3s;
			margin-bottom: 0;
		}
		
		.social-icons-footer li a:hover {
			color: #48b14d;
		}
		</style>
		{% if title %}
		<title>Khaan-दान -{{title}} </title>
		{% else %}
		<title>Khaan-दान</title>
		{% endif %}
	
</head>
<body>

		<div id="navigation">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<div class="logo">
								<a href="{% url 'home' %}">Khaan-दान</a>
							</div>
						</div>
		
						<div class="col-sm-9">
							<div class="navigation-menu">
								<div class="navbar">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="navbar-collapse collapse">
										<ul class="nav navbar-nav navbar-right">
											<!-- navigation menu items -->
											<li>
												<a class="line active smoth-scroll" href="{% url 'home' %}">Home</a>
											</li>
											<li>
												<a class="line smoth-scroll" href="#about">About</a>
											</li>
											<li>
												<a class="line smoth-scroll" href="#profile">Hunger Spot</a>
											</li>								
											{% if user.is_authenticated %}
											<li>
												<a class="line smoth-scroll" href="{% url 'dashboard' %}">Hey {{user.username}}</a>
											</li>
											<li>
													<a class="line smoth-scroll" href="{% url 'logout' %}">Logout</a>
												</li>
											{% else %}							
											<li>
												<a class="line smoth-scroll" href="{% url 'login' %}">Login</a>
											</li>
											<li>
												<a class="line smoth-scroll" href="{% url 'Register' %}">Register</a>
											</li>
											{% endif %}
											<li>
												<a class="line smoth-scroll" href="#contact">Contact</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

{% block header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'home/img/khaan-daan.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'home/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/owl.theme.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/form-style.css' %}">
    
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'home/css/style-responsives.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Hind:600|Lato:300,400" rel="stylesheet">
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvsSHWi2gggVVWG6Cmgi_kMD9IDwP0fI8&libraries=places&callback=initMap"
			async defer></script>-->
		<style>
    
				#map {
				  height: 600px;
				  width: 100%;
				}
				#legend {
				  font-family: Arial, sans-serif;
				  background: #fff;
				  padding: 10px;
				  margin: 10px;
				  border: 3px solid #000;
				}
				#legend h3 {
				  margin-top: 0;
				}
				#legend img {
				  vertical-align: middle;
				}
			  </style>
{% endblock header %}
{% block content %}
    <!-- PRELOADER-->
	<div id="preloader">
		<div id="status">
			<div class="loader-revolve center">
				<span></span>
			</div>
		</div>
	</div>
	<!-- END PRELOADER -->

	<!-- HOME -->
	<div id="home" class="home-bg box-intro" data-stellar-background-ratio="0.6">
			<div class="overlay">
					<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=IoCVrkcaH6Q', showControls:false, autoPlay:true, startAt:10, zoom:0, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
					<div class="display-table">
						<div class="display-table-cell">
					<div class="container">
						<div class="row">
							<div class="home-text">
								<!-- profile picture -->
								<div class="profile-pic" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
							
									<img src="{% static 'home/img/khaan-daan.png' %}" height="500" class="img-responsive" alt="ProfilePicture" />
								
								</div>

								<!-- home title -->
								<div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
									<h1>Welcome to Khaan-दान</h1>
									<h3 id="text-rotator">
										<div>Serving across 100+ cities</div>
										<div>Feeding since 2010</div>
										<div>Over 500+ NGOs connected</div>
										<div>Meeting the crisis with responsibility</div>
									</h3>
								</div>
							</div>

							<!-- arrow button -->
							<a class="smoth-scroll" href="#about">
								<i class="fa fa-angle-down arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HOME -->

	<!-- ABOUT -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="description col-md-6 col-sm-4 col-xs-12">
					<h2><b>Hello, Welcome to Khaan-दान</b></h2>

					<h4><b>Service to humanity is service to God!</b></h4>
					<p style="text-align: justify;">We at Khaan-दान aim to resolve the issue of excess food being wasted in hotels and restaurants in India on a large scale basis, as well as the issue of hunger and poverty that India currently faces. India currently ranks 105 out of 117 countries, below all South-East Asian countries on global hunger and poverty index. We at Khaan-दान hence aim to fix these issues by juxtaposing both the issues to compliment each other. We connect NGOs with hotels and restaurants so that the excess food generated daily by hotels and restaurants can be fed to the hungry people.</p>
						<!-- social media items -->
					<ul class="social-icons">
						<li>
							<a href="https://github.com/zenilharia26/KhaanDaan" target="_blank">
								<i class="fa fa-github"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-medium"></i>
							</a>
						</li>
						<li>
								<a href="#" target="_blank">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</li>

					</ul>

					<p>
						<a href="https://drive.google.com/file/d/1djckA-HWPfCwNUtKT2ffzl_LnE_nbNjy/view?usp=sharing" target="_blank" class="btn btn-dark with-arrow smoth-scroll">Report 2018-19
							<i class="fa fa-download"></i>
						</a>
					</p>
				</div>
				<!-- facts counting -->
				<div class=" facts col-md-5 col-sm-5 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='87543' data-delay='0.00001' data-increment="200">87543</div>
								<div class="count-name-intro">People Fed</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='450' data-delay='1' data-increment="1">450</div>
								<div class="count-name-intro">Food Saved(in tons)</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='123' data-delay='2' data-increment="1">123</div>
								<div class="count-name-intro">Cities Served</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='560000' data-delay='0.00001'data-increment="1200">560000</div>
								<div class="count-name-intro">Revenue saved(in ₹)</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->

	<!-- Profile -->
	<section id="profile">
			<div class="container">
				<div class="row">
					<div data-aos="fade-up">
						<div class=" text-center">
							<h2>Hunger Spots</h2>
						</div>
						
							<center>
	<div id="map"></div>
		<div id="legend"><h3>Legend</h3></div>
		<script>
		  var map;
		  function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
			  zoom: 12,
			  center: new google.maps.LatLng(19.07, 72.87),
			  mapTypeId: 'roadmap'
			});

			var iconBase = 'https://maps.google.com/mapfiles/kml/pal2/';
			var icons = {
			  info: {
				name: 'Hunger Spots',
				icon: iconBase + 'icon55.png'
			  }
			};
	
			var features = [
			  {
				title:'Dahisar',
				position: new google.maps.LatLng(19.256476, 72.872626),
				type: 'info',
				loc_type: 'Encroachment behind buildings',
				hungry: 17
			  }, {
				title:'Antop Hill',
				position: new google.maps.LatLng(19.026328, 72.863680),
				type: 'info',
				loc_type: 'Slum',
				hungry: 21
			  }, {
				title:'Sewri',
				position: new google.maps.LatLng(18.990100, 72.852736),
				type: 'info',
				loc_type: 'Railway Subway',
				hungry: 30
			  }, {
				title:'Byculla East',
				position: new google.maps.LatLng(18.976896, 72.835742),
				type: 'info',
				loc_type: 'Slum',
				hungry: 19
			  }, {
				title:'Bhandup East',
				text:'Lol',
				position: new google.maps.LatLng(19.149193, 72.94614),
				type: 'info',
				loc_type: 'Roadside Area Encroachment',
				hungry: 12
			  }, {
				title:'Dharavi Village',
				position: new google.maps.LatLng(19.0470003, 72.853),
				type: 'info',
				loc_type: 'Slum',
				hungry: 89
			  }, {
				title:'Kumbhar Wada',
				position: new google.maps.LatLng(19.0379, 72.8549),
				type: 'info',
				loc_type: 'Footpath',
				hungry: 28
			  }, {
				title:'Deonar Municipal Colony',
				position: new google.maps.LatLng(19.0539, 72.9242),
				type: 'info',
				loc_type: 'Dumping Ground',
				hungry: 45
			  }, {
				title:'Phule Nagar, Chembur',
				position: new google.maps.LatLng(19.064933, 72.902926),
				type: 'info',
				loc_type: 'Slum',
				hungry: 37
			  }, {
				title:'Mankhurd',
				position: new google.maps.LatLng(19.050598, 72.940580),
				type: 'info',
				loc_type: 'Railway Station',
				hungry: 44
			  }
			];
	
			// Create markers.
			features.forEach(function(feature) {
			  var marker = new google.maps.Marker({
				title: feature.title,
				position: feature.position,
				icon: icons[feature.type].icon,
				map: map
			  });
			  var contentString =
			'<p><b>Location: </b>'+feature.title+'</p>'+
			'<p><b>Coordinates: </b>'+feature.position+'</p>'+
			'<p><b>Location Type: </b>'+feature.loc_type+'</p>'+
			'<p><b>Approx. Hungry people: </b>'+feature.hungry+'</p>';

			var infowindow = new google.maps.InfoWindow({
			content: contentString
		});
			  marker.addListener('click', function() {
			infowindow.open(map, marker);
		});
			});
	
			var legend = document.getElementById('legend');
			for (var key in icons) {
			  var type = icons[key];
			  var name = type.name;
			  var icon = type.icon;
			  var div = document.createElement('div');
			  div.innerHTML = '<img src="' + icon + '"> ' + name;
			  legend.appendChild(div);
			}
	
			map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
		  }
		</script>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUbRHtu3k_fg3jDGk_qAatE5jA4bC_ndE&callback=initMap">
		</script>
	
							</center>
							
					</div>
				</div>
			</div>
		</section>
	<!-- END Profile -->


	

	<!-- CONTACT -->
	<section id="contact">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Contact Us</h2>
				</div>

				<div class="address-icons col-md-8 col-md-offset-2">
					<div class="col-md-4 col-sm-4">
						<i class="fa fa-envelope-o fa-2x"></i>
						<p>contact@khaandaan.in</p>
					</div>

					<div class="col-md-4 col-sm-4">
						<i class="fa fa-map-marker fa-2x"></i>
						<p>Mumbai
						</p>
					</div>

					<div class="col-md-4 col-sm-4">
						<i class="fa fa-phone fa-2x"></i>
						<p>022-2774 1000</p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-8 col-md-offset-2">
			</div>
		</div>
	</section>
	<!-- END CONTACT -->
	<footer id="footer">
			<div class="container">
				<div class="col-md-12 text-center">
						<ul class="social-icons-footer">
								<li>
									<a href="https://github.com/arghyadeep99" target="_blank">
										<i class="fa fa-github"></i>
									</a>
								</li>
								<li>
									<a href="https://medium.com/@arghyadeep.d" target="_blank">
										<i class="fa fa-medium"></i>
									</a>
								</li>
								<li>
										<a href="#" target="_blank">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
								<li>
									<a href="#" target="_blank">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#" target="_blank">
										<i class="fa fa-instagram"></i>
									</a>
								</li>
		
							</ul>
					<br>
					<h4>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Zenil Haria, Arghyadeep Das and Aditya Kaushik</h4>
					<br>
					<h4> © 2019 Khaan-दान</h4>
	
				</div>
			</div>
		</footer>
	</body>
	</html>

	<!-- JS PLUGIN -->
	<script src="{% static 'home/js/jquery-2.1.0.min.js' %}"></script>
	<script src="{% static 'home/js/jquery.js' %}"></script>
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'home/js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'home/js/text-rotate.js' %}"></script>
	<script src="{% static 'home/js/numscroller.js' %}"></script>
	<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'home/js/jquery.appear.js' %}"></script>
	<script src="{% static 'home/js/progress-bar.min.js' %}"></script>
	<script src="{% static 'home/js/jquery.mixitup.js' %}"></script>
	
	<script src="{% static 'home/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'home/js/aos.js' %}"></script>
	<script src="{% static 'home/js/app.js' %}"></script>
	<script src="{% static 'home/js/jquery.form.js' %}"></script>
	<script src="{% static 'home/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'home/js/jquery.mb.YTPlayer.min.js' %}"></script>
	<script type="text/javascript">
		$('.player').mb_YTPlayer();
	</script>
	
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvsSHWi2gggVVWG6Cmgi_kMD9IDwP0fI8&libraries=places&callback=initMap" 
	async defer></script>-->

	<!-- MAIN JS -->
	<script src="{% static 'home/js/main.js' %}"></script>
{% endblock content %}
