{% extends 'home/base.html' %}

{% block header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../../static/home/img/khaan-daan.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/home/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/home/css/owl.carousel.css">
	<link rel="stylesheet" href="../../static/home/css/owl.theme.css">
	<link rel="stylesheet" href="../../static/home/css/magnific-popup.css">
	<link rel="stylesheet" href="../../static/home/css/flexslider.css">
	<link rel="stylesheet" href="../../static/home/css/aos.css">
    <link rel="stylesheet" href="../../static/home/css/form-style.css">
    
    <link rel="stylesheet" href="../../static/home/css/style.css">

    <link rel="stylesheet" href="../../static/home/css/style-responsives.css">

    <link href="https://fonts.googleapis.com/css?family=Hind:600|Lato:300,400" rel="stylesheet">
{% endblock header %}
{% block content %}
    <!-- PRELOADER-->
	<div id="preloader">
		<div id="status">
			<div class="loader-revolve center">
				<span></span>
			</div>
		</div>
	</div>
	<!-- END PRELOADER -->

	<!-- HOME -->
	<div id="home" class="home-bg box-intro" data-stellar-background-ratio="0.6">
			<div class="overlay">
					<a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=IoCVrkcaH6Q', showControls:false, autoPlay:true, startAt:10, zoom:0, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
					<div class="display-table">
						<div class="display-table-cell">
					<div class="container">
						<div class="row">
							<div class="home-text">
								<!-- profile picture -->
								<div class="profile-pic" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
							
									<img src="../../static/home/img/khaan-daan.png" height="500" class="img-responsive" alt="ProfilePicture" />
								
								</div>

								<!-- home title -->
								<div data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
									<h1>Welcome to Khaan-दान</h1>
									<h3 id="text-rotator">
										<div>Serving across 100+ cities</div>
										<div>Feeding since 2010</div>
										<div>Over 500+ NGOs connected</div>
										<div>Meeting the crisis with responsibility</div>
									</h3>
								</div>
							</div>

							<!-- arrow button -->
							<a class="smoth-scroll" href="#about">
								<i class="fa fa-angle-down arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END HOME -->

	<!-- ABOUT -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="description col-md-6 col-sm-4 col-xs-12">
					<h2><b>Hello, Welcome to Khaan-दान</b></h2>

					<h4><b>Service to humanity is service to God!</b></h4>
					<p>We at Khaan-दान aim to resolve the issue of excess food being wasted in hotels and restaurants in India on a large scale basis, as well as the issue of hunger and poverty that India currently faces. India currently ranks 105 out of 117 countries, below all South-East Asian countries on global hunger and poverty index. We at Khaan-दान hence aim to fix these issues by juxtaposing both the issues to compliment each other. We connect NGOs with hotels and restaurants so that the excess food generated daily by hotels and restaurants can be fed to the hungry people.</p>
						<!-- social media items -->
					<ul class="social-icons">
						<li>
							<a href="https://github.com/arghyadeep99" target="_blank">
								<i class="fa fa-github"></i>
							</a>
						</li>
						<li>
							<a href="https://medium.com/@arghyadeep.d" target="_blank">
								<i class="fa fa-medium"></i>
							</a>
						</li>
						<li>
								<a href="https://www.linkedin.com/in/arghyadeep-das-05425a14a/" target="_blank">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						<li>
							<a href="https://www.facebook.com/arghyadeep.das.35" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/arghyadeepdas99" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="https://instagram.com/third_root_of_quadratic_eqn/" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</li>

					</ul>

					<p>
						<a href="https://drive.google.com/file/d/19jWvLo6TJtwSzWnNVEERtkM3T7IwbfQ2/view?usp=sharing" target="_blank" class="btn btn-dark with-arrow smoth-scroll">Report 2018-19
							<i class="fa fa-download"></i>
						</a>
					</p>
				</div>
				<!-- facts counting -->
				<div class=" facts col-md-5 col-sm-5 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='87543' data-delay='0.00001' data-increment="200">87543</div>
								<div class="count-name-intro">People Fed</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='450' data-delay='1' data-increment="1">450</div>
								<div class="count-name-intro">Food Saved(in tons)</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='123' data-delay='2' data-increment="1">123</div>
								<div class="count-name-intro">Cities Served</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 col-xs-6">
							<div class="count-item">
								<div class="numscroller" data-slno='1' data-min='0' data-max='560000' data-delay='0.00001'data-increment="1200">560000</div>
								<div class="count-name-intro">Revenue saved(in ₹)</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END ABOUT -->
<!--
	
	<section id="skills">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>About</h2>
				</div>

				
				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="progress-box">
						<p>Machine Learning
							<span class="color-heading pull-right">80%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="80"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12 skills-right">
					<div class="progress-box">
						<p>Deep Learning
							<span class="color-heading pull-right">75%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="75"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="progress-box">
						<p>Android Development
							<span class="color-heading pull-right">70%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="70"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12 skills-right">
					<div class="progress-box">
						<p>Python3
							<span class="color-heading pull-right">87%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="87"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="progress-box">
						<p>Java
							<span class="color-heading pull-right">82%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="82"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12 skills-right">
					<div class="progress-box">
						<p>Golang
							<span class="color-heading pull-right">50%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="50"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="progress-box">
						<p>Flutter
							<span class="color-heading pull-right">50%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="50"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12 skills-right">
					<div class="progress-box">
						<p>Django
							<span class="color-heading pull-right">72%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="72"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="progress-box">
						<p>C
							<span class="color-heading pull-right">70%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="70"></div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12 skills-right">
					<div class="progress-box">
						<p>PostgreSQL
							<span class="color-heading pull-right">84%</span>
						</p>
						<div class="progress">
							<div class="progress-bar bg-color-base" role="progressbar" data-width="84"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
-->

	<!-- Profile -->
	<section id="profile">
		<div class="container">
			<div class="row">
				<div data-aos="fade-up">
					<div class="col-md-12 text-center">
						<h2>Hunger Spots</h2>
					</div>
					<div class="mapouter">
						<center>
						<div class="gmap_canvas"><iframe width="100%" height="576" id="gmap_canvas" src="https://maps.google.com/maps?q=Mumbai&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
						</iframe>
						<style>.mapouter{position:center;text-align:center;height:576px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:576px;width:100%;}
						</style>
						</center>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END Profile -->


	
	<!-- HIRE
	<section id="hire">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-sm-6 col-xs-12">
					<h2>Hire Me</h2>

					<p>
						I am in third year of my graduation pursuing B. Tech in Computer Engineering from K.J. Somaiya College of Engineering, Mumbai. I am actively looking for winter internships in the field of Machine Learning, Deep Learning and App Development.
					</p>
				</div>

				
				<div class="col-md-3 col-sm-6 col-xs-12">
					<p>
						<a href="#contact" class="btn btn-dark btn-lg smoth-scroll">Get in Touch</a>
					</p>
				</div>
			</div>
		</div>
	</section>
-->

	<!-- CONTACT -->
	<section id="contact">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2>Contact Us</h2>
				</div>

				<div class="address-icons col-md-8 col-md-offset-2">
					<div class="col-md-4 col-sm-4">
						<i class="fa fa-envelope-o fa-2x"></i>
						<p>contact@khaandaan.in</p>
					</div>

					<div class="col-md-4 col-sm-4">
						<i class="fa fa-map-marker fa-2x"></i>
						<p>Mumbai
						</p>
					</div>

					<div class="col-md-4 col-sm-4">
						<i class="fa fa-phone fa-2x"></i>
						<p>022-2774 1000</p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="col-md-8 col-md-offset-2">
					
			</div>
		</div>
	</section>
	<!-- END CONTACT -->

	<!-- JS PLUGIN -->
	<script src="../../static/home/js/jquery-2.1.0.min.js"></script>
	<script src="../../static/home/js/jquery.js"></script>
	<script src="../../static/home/js/bootstrap.min.js"></script>
	<script src="../../static/home/js/jquery.stellar.min.js"></script>
	<script src="../../static/home/js/text-rotate.js"></script>
	<script src="../../static/home/js/numscroller.js"></script>
	<script src="../../static/home/js/owl.carousel.min.js"></script>
	<script src="../../static/home/js/jquery.appear.js"></script>
	<script src="../../static/home/js/progress-bar.min.js"></script>
	<script src="../../static/home/js/jquery.mixitup.js"></script>
	
	<script src="../../static/home/js/jquery.flexslider-min.js"></script>
	<script src="../../static/home/js/aos.js"></script>
	<script src="../../static/home/js/app.js"></script>
	<script src="../../static/home/js/jquery.form.js"></script>
	<script src="../../static/home/js/jquery.validate.min.js"></script>
	<script src="../../static/home/js/jquery.mb.YTPlayer.min.js"></script>
	<script type="text/javascript">
		$('.player').mb_YTPlayer();
	</script>

	<!-- MAIN JS -->
	<script src="../../static/home/js/main.js"></script>
{% endblock content %}
